<h1>Available Time Series</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Source</th>
      <th>Timeframe</th>
      <th>Number of Data Points</th>
      <th>Type</th>
      <th>Description</th>
      <th>Since</th>
      <th>Most Recent TS</th>
    </tr>
  </thead>
  <tbody>
    <% @time_series.each do |ts_data| %>
      <tr>
        <td><%= link_to ts_data[:time_series].ticker, time_series_path(ts_data[:time_series].ticker) %></td>
        <td><%= ts_data[:time_series].ticker %></td>
        <td><%= ts_data[:time_series].source %></td>
        <td><%= ts_data[:time_series].timeframe %></td>
        <td><%= ts_data[:count] %></td>
        <td><%= ts_data[:time_series].kind %></td>
        <td><%= ts_data[:time_series].description %></td>
        <td><%= ts_data[:earliest_ts] %></td>
        <td><%= ts_data[:recent_ts] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
